<div class="content" role="main">
  <div class="card-container">
    <h1>Angular Main Component</h1>
    <!-- <app-hello></app-hello>
    <app-person></app-person>
    <app-binding></app-binding>
    <app-two-binding></app-two-binding>
    <app-profile-card></app-profile-card> -->
    <!-- <app-condition></app-condition> -->
    <!-- <app-ifelse></app-ifelse> -->
    <!-- <app-notepad></app-notepad> -->
    <!-- <app-ng-for></app-ng-for> -->
    <!-- <div class="demo-block" [appRoundBlock]="'80px'">
      I am at the Central Park
    </div> -->
    <!-- <app-pj-schoolboard></app-pj-schoolboard> -->
    <!-- <app-parent-to-child></app-parent-to-child> -->
    <!-- <app-parent2child></app-parent2child> -->
    <!-- <app-progress-bar
      [progress]="15"
      [backgroundColor]="'#9e9e9e'"
      [progressColor]="'#2e8b57'"
    >
    </app-progress-bar>
    <app-progress-bar></app-progress-bar> -->
    <!-- practice: students -->
    <!-- <app-students></app-students> -->
    <!-- <app-car></app-car> -->
    <app-com-parent></app-com-parent>
  </div>
</div>
